@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container-fluid">

        <h1 class="display-4">Enter any notes:</h1>

        <scratchpad id="ctlScratchpad" class="form-control" rows="10"></scratchpad>

    </div>

    
</div>